.navbar-custom{
	 background: #FF9966 ;
	
}
.myjumbotron {
  background-image:url('header.jpg');
  height:500px;
  background-repeat: no-repeat;
  background-size:cover;
  border:2px solid black;
}
.footjumbo {
  
 height:300px;
  background-color:#808080;
  
}
.colorback{
	background-color:#E0E0E0;
}
.foottext{
	color:aqua;
	font-family:garamond;
	
	
}
.mycover{
  background-image:url('back.jpg');
  height:400px;
  background-repeat: no-repeat;
  background-size:cover;
  border:2px solid black;
 margin:0px 80px 0px 80px;
 /* position:relative;
  left:11%;*/
}
.tagline{
	position:absolute;
	left:4%;
	top:50%;
	color:white;
	font-family:garamond;
	
	
}
.btnalign{
	position:absolute;
	left:35%;
	top:70%;
	color:white;
	font-family:garamond;
	
	
}
.logo{
	position:absolute;
	left:4%;
	top:25%;
	
	
}

.look {
	font-family:garamond;
	color:#FF9966;
	font-size:40px;
	
	
	
}
.set{
	padding:20px;
	background-color:#99FFCC;
	border:2px solid #787878;
}
.rating{
	background-color:#33CC66;
	padding:8px;
	
	
	
}
.heading{
	font-family:garamond;
	color:#FF0000;
	position:relative;
	left:3%;
	
	
}
.headrestro{
	font-family:impact;
	color:#66CCFF;
	position:relative;
  font-size:50px;
	
	
}
.subheading{
	font-family:garamond;
	
	
color:white;
	
	
}
.contact{
	font-family:garamond;
	color:#990033;
	
	
}
.listheading{
	font-family:garamond;
	
	color:#FF0000;

	
	
}
.setting{
	padding:30px;
	
	
}
.size{
	font-size:30px;
	font-family:garamond;
	color:#990033;
}
.shift{
	position:relative;
	left:13%;
}
	
	

.navlist
{
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}   

h1{
	color:green;
}