.navbar-custom{
	 background: #FF9966 ;
	
}
.myjumbotron {
  background-image:url('header.jpg');
  height:500px;
  background-repeat: no-repeat;
  background-size:cover;
  border:2px solid black;
}
.mycover{
  background-image:url('back.jpg');
  height:400px;
  background-repeat: no-repeat;
  background-size:cover;
  border:2px solid black;
}
.tagline{
	position:absolute;
	left:4%;
	top:50%;
	color:white;
	font-family:garamond;
	
	
}
.logo{
	position:absolute;
	left:4%;
	top:25%;
	
	
}

.look {
	font-family:garamond;
	color:#FF9966;
	font-size:40px;
	
	
	
}
.set{
	padding:20px;
	background-color:#FFFF99;
	border:2px solid #787878;
}
.rating{
	background-color:#33CC66;
	padding:8px;
	
	
	
}
.heading{
	font-family:garamond;
	color:#FF0000;
	position:relative;
	left:3%;
	
	
}
.headrestro{
	font-family:impact;
	color:#66CCFF;
	position:relative;
  font-size:50px;
	
	
}
.subheading{
	font-family:garamond;
	
	position:relative;

	
	
}
.listheading{
	font-family:garamond;
	
	color:#FF0000;

	
	
}
.setting{
	padding:30px;
	
	
}
.navlist
{
  display: inline;
  list-style-type: none;
  padding-right: 30px;
}   

h1{
	color:yellow;
}