<!--Resturants list-->
<!--Display of resturaunts-->
<div class="container" ><br/><br/>
<form >
  <div class="form-group ">
   
    <input type="text" class="form-control" placeholder="Search Resturants by cost,locality,cuisines,category..." ng-model="searchStr">
  </div>
</form><br/><br/><br/>

<div class="container">
    <div class="row">
        
     <div class="col-md-8 col-md-offset-1 thumbnail set" >
	       <div ng-repeat="resturant in resturants | filter:searchStr"><br/><br/>
	    <div class="media-left">
	     <img ng-src={{resturant.imageUrl}} style="width:140px">
		</div>
		 <div class="media-body">
		    <ul class="list-unstyled">
			    <span class="pull-right thumbnail rating" ><strong>{{resturant.vote}}</strong></span>
				<span class="look"><a ng-href="#/resturants/{{resturant.id}}"><strong>{{ resturant.name }}</strong></a></span>
				<li><strong>{{resturant.location}}</strong></li>
				<li><small>{{ resturant.address}}</small></li>
				<li><cite><small>{{resturant.category}}</cite></small></li>
			</ul>
		 </div>
				 <table class="table"><br/><br/><br/>
			
					<tbody>
					  <tr>
						<td><small>CUISINES:</small></td>
						<td><strong>{{ resturant.cuisines}}</strong></td>
						
					  </tr>
					  <tr>
						<td><small>COST FOR TWO:</small></td>
						<td><strong>{{resturant.cost | currency:'Rs.'}}</strong></td>
						
					  </tr>
					  <tr>
						<td><small>HOURS:</td>
						<td><strong>{{ resturant.timing}}</strong></td>
						
					  </tr>
					    <tr>
						<td><small>DELIVERS IN:</td>
						<td><strong>{{ resturant.deliver}}</strong></td>
						
					  </tr>
					</tbody>
		  </table>
		  
	 </div>
		
	 
	
	</div>
	   
	    <h1 class="heading text-center">Delicious Foods</h1>
	    
           <div class="col-md-3">
		 <ul ng-repeat="image in images">
		    <li class="navlist " > 
			   <img ng-src={{image}} >
			   </li>
		
		    </ul>
			
		 </div>
   
		 
  </div>
 </div>

 
</div>
