<!--Resturant Information-->

 <div ng-if="resturant.name">
   <div class="container"><br/><br/><br/><br/>
    <div class="row" >
	    
	     <div class="col-md-8 col-md-offset-1 mycover"  style="background-image:url('blurr.jpg')"><br/><br/><br/>
         <h1 class="headrestro text-center">{{resturant.name}}</h1>
		 
		  <h3 class="text-center subheading">.{{resturant.category}}<br/>Delivers in: {{resturant.deliver}}<br/>
		  Cuisines:{{resturant.cuisines}}<br/>Cost for Two: {{resturant.cost}}</h3>
		
		    <div class="col-md-8 col-md-offset-1 mycover"  style="background-image:url('blurr.jpg')">
			hahahah
		 </div>
		  
		</div>
		
		<div class="col-md-3">
		 <ul ng-repeat="image in images">
		    <li class="navlist " > 
			   <img ng-src={{image}} >
			   </li>
		
		    </ul>
			
		 </div>
		
		 
	</div>
	
  </div>
 </div>
<br/><br/><br/><br/>
<div ng-hide="resturant.name">
	<div class="container">
	   <div class="row">
	      <div class="col-md-11 col-md-offset-1 text-center">
	          <img src="404.jpg" class="img-responsive center-block">
			  <h2>Resturant Not Found</h2>
	       </div> 
	   </div>
	</div>
</div>